{{#if loggedIn}}

<h2>Byte-Sized Posts</h2>

<p>Click a post to view its comments and add one of your own!</p>

<section class="post_dashboard">

    {{#each posts as |post|}}


    <div class="post">
        <a href="/api/posts/{{post.id}}">
        <h3>{{post.title}}</h3>
        <p>{{post.post_content}}</p>
        <p>Created on: {{post.post_date}}</p>
        </a>
    </div>

    {{/each}}

</section>

{{else}}

<h3 id="loginHeader"><a href="/login">Please login to view and interact with other user's posts and comments</a></h3>

{{/if}}