{{#if loggedIn}}

<h2>Viewing: {{posts.title}}</h2>

<section>
    <div class="post">
        <p>{{posts.post_content}}</p>
        <p>Created by {{posts.user.user_name}}</p>
        <p>{{format_date posts.post_date}}</p>

        <button id="displayUpdateBtn">Update Post</button>
        <button id="deletePostBtn">Delete Post</button>
        
        <div class="comments_section">
            <h3>Comments:</h3>
             
            {{#each comments as |comment|}}

            <p>{{comment.comment_content}}</p>
            <p class="commentAuthor">Comment left on: {{format_date comment.comment_date}} by {{comment.user.user_name}}</p>

            <hr>

            {{/each}}

            <form action="/api/comments/{{posts.id}}" method="POST">
                <div>
                    <textarea class="commentBox" placeholder="Enter your comment here..." name="comment_content"></textarea>
                </div>
                <div>
                    <button>Add Comment</button>
                </div>
                
            </form>
           
        </div>
    </div>
</section>

{{!-- This form is hidden until the Update button on the post is clicked.  An event listener in the post_update.js file changes the display property. --}}
<section>
    <form class="updateForm">
        <div>
            <label for="title_update">Updated Post Title:</label>
        </div>
        <div>
            <input type="text" placeholder="Updated Title" name="post_title" id="title_update">
        </div>

        <div>
            <label for="content_update">Updated Post Content:</label>
        </div>

        <div>
            <textarea class="commentBox" id="content_update" placeholder="Enter your udpated post here..." name="post_content">{{posts.post_content}}</textarea>
        </div>

        <div>
            <button id="updateBtn">Update Post</button>
        </div>
    </form>
</section>

{{else}}

<h3 class="loginHeader"><a href="/login">Please login to view and interact with other user's posts and comments</a></h3>

{{/if}}