{{#if loggedIn}}

<h2>Byte-Sized Posts</h2>

{{#each posts as |post|}}

<section>
    <a href="/api/posts/{{post.id}}">
    <div class="post">
        <h3>{{post.title}}</h3>
        <p>{{post.post_content}}</p>
        <p>Created on: {{post.post_date}}</p>
        <div>
            <button>Add Comment</button>
        </div>
    </div>
    </a>
</section>
{{/each}}

{{else}}

<h3 id="loginHeader"><a href="/login">Please login to view and interact with other user's posts and comments</a></h3>

{{/if}}