{{#if loggedIn}}

<h2>Viewing: {{posts.title}}</h2>

<section>
    <div class="post">
        <p>{{posts.post_content}}</p>
        <p>Created by {{posts.user.user_name}}</p>
        <p>{{format_date posts.post_date}}</p>
        
        <div class="comments_section">
            <h3>Comments:</h3>
            {{#each comments as |comment|}}

            <p>{{comment.comment_content}}</p>
            <p class="commentAuthor">Comment left on: {{format_date comment.comment_date}} by {{comment.user.user_name}}</p>
            {{!-- <p>Comment left on: {{format_date comment.comment_date}}</p> --}}
            <hr>

            {{/each}}
            <button>Add Comment</button>
        </div>
    </div>
</section>

{{else}}

<h3 class="loginHeader"><a href="/login">Please login to view and interact with other user's posts and comments</a></h3>

{{/if}}